# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [227]:
# import libraries
import pandas as pd
import re 

# Load the data
client_data = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv")
client_data2 = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv")
client_data3 = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv")

In [228]:
# Explore the df

client_data.head()
client_data2.head()
client_data3.head()

,Customer,State,Customer Lifetime Value,Education,Gender,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Total Claim Amount,Vehicle Class
0,SA25987,Washington,3479.137523,High School or Below,M,0,104,0,Personal Auto,499.200000,Two-Door Car
1,TB86706,Arizona,2502.637401,Master,M,0,66,0,Personal Auto,3.468912,Two-Door Car
2,ZL73902,Nevada,3265.156348,Bachelor,F,25820,82,0,Personal Auto,393.600000,Four-Door Car
3,KX23516,California,4455.843406,High School or Below,F,0,121,0,Personal Auto,699.615192,SUV
4,FN77294,California,7704.958480,High School or Below,M,30366,101,2,Personal Auto,484.800000,SUV

In [229]:
# Clean column names. 
# Al the sets seem to contain the same kind of data, but the columns names are a bit differentWe need to standardise them
for df in [client_data, client_data2, client_data3]: 
    df.columns = df.columns.str.strip().str.replace("ST", "state").str.lower().str.replace(' ', '_')

print(client_data.columns)
print(client_data2.columns)
print(client_data3.columns)

Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object')
Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'total_claim_amount', 'policy_type', 'vehicle_class'],
      dtype='object')
Index(['customer', 'state', 'customer_lifetime_value', 'education', 'gender',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'total_claim_amount', 'vehicle_class'],
      dtype='object')

In [230]:

# Combine the dataframes
# We can now concatenate the dataframes together

client_data_123 = pd.concat([client_data, client_data2, client_data3], ignore_index=True)

In [231]:
# Clean the data
# Start by exploring the data
client_data_123.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12074 entries, 0 to 12073
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer                   9137 non-null   object
 1   state                      9137 non-null   object
 2   gender                     9015 non-null   object
 3   education                  9137 non-null   object
 4   customer_lifetime_value    9130 non-null   object
 5   income                     9137 non-null   float64
 6   monthly_premium_auto       9137 non-null   float64
 7   number_of_open_complaints  9137 non-null   object
 8   policy_type                9137 non-null   object
 9   vehicle_class              9137 non-null   object
 10  total_claim_amount         9137 non-null   float64
dtypes: float64(3), object(8)
memory usage: 1.0+ MB

In [232]:

# 1 Remove empty rows. 
# We can use the `dropna()` function in pandas to remove null values
client_data_123 = client_data_123.dropna(how="all")

# We can use the `isnull()` function to check for remaining null values
# only gender and customer_lifetime_value have null values. 
client_data_123.isnull().sum()

customer                       0
state                          0
gender                       122
education                      0
customer_lifetime_value        7
income                         0
monthly_premium_auto           0
number_of_open_complaints      0
policy_type                    0
vehicle_class                  0
total_claim_amount             0
dtype: int64

In [233]:
# 2 Cleaning invalid values and correct data types: 

# 2.1 state: We can use the `replace()` function to replace the values
client_data_123.state=client_data_123.state.replace({"WA": "Washington", "AZ":"Arizona", "Cali": "California"})
client_data_123.state.unique()

# 2.2 gender: Replace invalid values and fill in the missing values:
client_data_123.gender = client_data_123.gender.apply(lambda x: x[0].upper() if isinstance(x, str) else "unspecified")
client_data_123.gender.unique()

# 2.3 education: Replace invalid values
client_data_123.education = client_data_123.education.replace({"Bachelors": "Bachelor"})
client_data_123.education.unique()

# 2.4 customer_lifetime_value: Correct data type and fill in null values with the median value. 
client_data_123.customer_lifetime_value = pd.to_numeric(client_data_123.customer_lifetime_value.str.replace("%", ""), errors="coerce")
client_data_123.customer_lifetime_value = client_data_123.customer_lifetime_value.fillna(client_data_123.customer_lifetime_value.median())

# 2.5 income: nothing to clean on first sight

# 2.6 monthly_premium_auto: nothing to clean on first sight

# 2.7 number_of_open_complaints
client_data_123.number_of_open_complaints = pd.to_numeric(client_data_123.number_of_open_complaints.apply(lambda x: x.split("/")[1] if isinstance(x, str) else x), errors="coerce")

# 2.9 policy_type: nothing to change

# 2.10 vehicle_class: update classes to grupo some under "luxury"
client_data_123.vehicle_class = client_data_123.vehicle_class.replace({"Sports Car": "Luxury","Luxury SUV":"Luxury","Luxury Car":"Luxury"})


# 2.11 total_claim_amount: nothing to change

In [234]:
client_data_123.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9137 entries, 0 to 12073
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer                   9137 non-null   object
 1   state                      9137 non-null   object
 2   gender                     9137 non-null   object
 3   education                  9137 non-null   object
 4   customer_lifetime_value    9137 non-null   float64
 5   income                     9137 non-null   float64
 6   monthly_premium_auto       9137 non-null   float64
 7   number_of_open_complaints  9137 non-null   int64
 8   policy_type                9137 non-null   object
 9   vehicle_class              9137 non-null   object
 10  total_claim_amount         9137 non-null   float64
dtypes: float64(4), int64(1), object(6)
memory usage: 856.6+ KB

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [235]:
# Load data from url
marketing_customer_analysis = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv")

In [236]:
# Explore the data to understand it and clean it
marketing_customer_analysis.info()

for column in marketing_customer_analysis.columns: 
    print(column, marketing_customer_analysis[column].unique())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10910 entries, 0 to 10909
Data columns (total 27 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   unnamed:_0                     10910 non-null  int64
 1   customer                       10910 non-null  object
 2   state                          10910 non-null  object
 3   customer_lifetime_value        10910 non-null  float64
 4   response                       10910 non-null  object
 5   coverage                       10910 non-null  object
 6   education                      10910 non-null  object
 7   effective_to_date              10910 non-null  object
 8   employmentstatus               10910 non-null  object
 9   gender                         10910 non-null  object
 10  income                         10910 non-null  int64
 11  location_code                  10910 non-null  object
 12  marital_status                 10910 non-null  object
 13  monthly_premium_auto           10910 non-null  int64
 14  months_since_last_claim        10910 non-null  float64
 15  months_since_policy_inception  10910 non-null  int64
 16  number_of_open_complaints      10910 non-null  float64
 17  number_of_policies             10910 non-null  int64
 18  policy_type                    10910 non-null  object
 19  policy                         10910 non-null  object
 20  renew_offer_type               10910 non-null  object
 21  sales_channel                  10910 non-null  object
 22  total_claim_amount             10910 non-null  float64
 23  vehicle_class                  10910 non-null  object
 24  vehicle_size                   10910 non-null  object
 25  vehicle_type                   10910 non-null  object
 26  month                          10910 non-null  int64
dtypes: float64(4), int64(6), object(17)
memory usage: 2.2+ MB
unnamed:_0 [    0     1     2 ... 10907 10908 10909]
customer ['DK49336' 'KX64629' 'LZ68649' ... 'KX53892' 'TL39050' 'WA60547']
state ['Arizona' 'California' 'Washington' 'Oregon' 'Nevada']
customer_lifetime_value [ 4809.21696   2228.525238 14947.9173   ...  5259.444853 23893.3041
 11971.97765 ]
response ['No' 'Yes']
coverage ['Basic' 'Extended' 'Premium']
education ['College' 'Bachelor' 'High School or Below' 'Doctor' 'Master']
effective_to_date ['2011-02-18' '2011-01-18' '2011-02-10' '2011-01-11' '2011-01-17'
 '2011-02-14' '2011-02-24' '2011-01-19' '2011-01-04' '2011-01-02'
 '2011-02-07' '2011-01-31' '2011-01-26' '2011-02-28' '2011-01-16'
 '2011-02-26' '2011-02-23' '2011-01-15' '2011-02-02' '2011-02-15'
 '2011-01-24' '2011-02-21' '2011-02-22' '2011-01-07' '2011-01-28'
 '2011-02-08' '2011-02-12' '2011-02-20' '2011-01-05' '2011-02-19'
 '2011-01-03' '2011-02-03' '2011-01-22' '2011-01-23' '2011-02-05'
 '2011-02-13' '2011-01-25' '2011-02-16' '2011-02-01' '2011-01-27'
 '2011-01-12' '2011-01-20' '2011-02-06' '2011-02-11' '2011-01-21'
 '2011-01-29' '2011-01-09' '2011-02-09' '2011-02-27' '2011-01-01'
 '2011-02-17' '2011-02-25' '2011-01-13' '2011-01-06' '2011-02-04'
 '2011-01-14' '2011-01-10' '2011-01-08' '2011-01-30']
employmentstatus ['Employed' 'Unemployed' 'Medical Leave' 'Disabled' 'Retired']
gender ['M' 'F']
income [48029     0 22139 ... 61146 39837 64195]
location_code ['Suburban' 'Urban' 'Rural']
marital_status ['Married' 'Single' 'Divorced']
monthly_premium_auto [ 61  64 100  97 117  63 154  85 127  62  99  69 116 114  66  73  94 104
 189  74 121 110 111  72 115 159 101  65  82  71 126  68 199  96  67 125
 249 105  92  78  77  79 223 242  70 102 109 107 119 194 113 106 247  80
  86  81  83 122 253 196 132 139  84 130  93 103 112 222 118  88 182 283
  90 128  89 235 190  76  87 133 153 129  98 148 123  91 211 131 108 187
 214 181 173 252  95 124 137 145 188 143 198 138 245 195 186 170 136 161
 157 141 205 271 192 142 140 134 240 185 244 210 184 202 296 213 273 219
 135 169 155 225 266 215 197 256 212 158 180 166 168 183 162 191 179 150
 146 276 165 239 237 193 229 274 207 295 208 172 217 206 201 171 152 156
 174 238 167 151 144 163 287 209 290 220 228 232 178 177 275 176 281 149
 298 255 216 285 226 160 147 254 164 175 297 234 284 204 218 261 231 248
 286 230 268 203]
months_since_last_claim [ 7.          3.         34.         10.         15.14907074  2.
  8.         35.         33.         19.         13.          5.
 24.         25.          6.         20.         26.         14.
  9.         29.         11.          1.         18.         16.
 30.         12.          4.         22.         31.         21.
 28.         17.         15.         32.         23.         27.
  0.        ]
months_since_policy_inception [52 26 31  3 73 99 45 24  8 29 32 25 28 87 10 74  1 38 58 37  7 80 95 78
 63 27 97 39 11 59 46 62 13 54 51 22 82 91 44 43 76 48 84  6 92 12 61  4
 18 66 70 16 75 34 35 64  9 89  0 60 71 23 55 93  2 67 81 40 57 86 19 72
 69 33 47 42 17 49 21 83 94 30 15 50 53 77 41 90  5 79 56 98 20 88 65 14
 85 96 36 68]
number_of_open_complaints [0.         0.38425611 3.         1.         2.         4.
 5.        ]
number_of_policies [9 1 2 7 4 3 6 8 5]
policy_type ['Corporate Auto' 'Personal Auto' 'Special Auto']
policy ['Corporate L3' 'Personal L3' 'Personal L2' 'Corporate L2' 'Personal L1'
 'Special L1' 'Corporate L1' 'Special L3' 'Special L2']
renew_offer_type ['Offer3' 'Offer4' 'Offer2' 'Offer1']
sales_channel ['Agent' 'Call Center' 'Branch' 'Web']
total_claim_amount [292.8      744.924331 480.       ... 273.018929 381.306996 618.288849]
vehicle_class ['Four-Door Car' 'SUV' 'Two-Door Car' 'Sports Car' 'Luxury Car'
 'Luxury SUV']
vehicle_size ['Medsize' 'Small' 'Large']
vehicle_type ['A']
month [2 1]

In [237]:
# Everything seems correct except for:
# * the unnamed:_0 column which looks like an old index and should be removed. 
marketing_customer_analysis = marketing_customer_analysis.drop(columns=["unnamed:_0"])
# * one of the column names (employmentstatus)
marketing_customer_analysis.rename(columns={"employmentstatus":"employment_status"}, inplace=True)
# * number_of_open_complaints which should be an int 
marketing_customer_analysis.number_of_open_complaints = marketing_customer_analysis.number_of_open_complaints.apply(lambda x: round(x)).astype(int)
# * months_since_last_claim which should be an int.
marketing_customer_analysis.months_since_last_claim = marketing_customer_analysis.months_since_last_claim.apply(lambda x: round(x)).astype(int)
# * total_claim_amount could be standardised to 2 decimal places. 
marketing_customer_analysis.total_claim_amount = marketing_customer_analysis.total_claim_amount.apply(lambda x: round(x, 2))

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

In [238]:
# total revenue for each sales channel. 

marketing_customer_analysis.groupby("sales_channel").monthly_premium_auto.sum().astype(float).apply(lambda x: round(x,2))

pivot_revenue = marketing_customer_analysis.pivot_table(columns='sales_channel', values=['monthly_premium_auto'], aggfunc='sum')
pivot_revenue

sales_channel          Agent  Branch  Call Center     Web
monthly_premium_auto  386335  280953       197970  151511

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [240]:
pivot_lifetime_value = marketing_customer_analysis.pivot_table(index='gender', columns='education', values=['customer_lifetime_value'], aggfunc='mean')
pivot_lifetime_value

          customer_lifetime_value                            \
education                Bachelor      College       Doctor
gender
F                     7874.269478  7748.823325  7328.508916
M                     7703.601675  8052.459288  7415.333638


education High School or Below       Master
gender
F                  8675.220201  8157.053154
M                  8149.687783  8168.832659

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [152]:
# Your code goes here